<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="app" v-bind:style="{ background: '#'+color}">
        <img
            v-on:mouseover="toggleShowPrices"
            v-on:mouseout="toggleShowPrices"
            v-bind:src="img" v-bind:alt="name" style="width: 150px;"
        />

            <!-- Directiva v-bind:class -->
            <h1 v-bind:class="changePercent > 0 ? 'green' : 'red' ">

            <!-- Expresion -->
            {{ title }}

            <!-- Directiva v-if -->
            <span v-if="changePercent > 0">👍</span>
            <span v-else-if="changePercent < 0">😒</span>
            <span v-else>✌</span>

            <!-- Directiva v-Show -->
            <span v-show="changePercent > 0">👍</span>
            <span v-show="changePercent < 0">😒</span>
            <span v-show="changePercent === 0">✌</span>

        </h1>

           <!-- Directiva v-for -->
           <ul>
            <li v-for="(price, index) in prices" v-bind:key="price">{{ index }} | {{ price }}</li>
        </ul>            

        <!-- Directiva v-on -->
        <span v-on:click="toggleShowPrices">{{showPrices ? '🙈' : '👀' }}</span>

        <!-- Two-Way Data Binding -->
        <input type="number" v-model="value">
        <span>{{ convertedValue }}</span>

        <ul v-show=showPrices>
            <li 
                class="uppercase"
                v-for="(priceDay, index) in pricesWithDays" 
                v-bind:key="priceDay.day"
                v-bind:class="{ orange: priceDay.value === price, red:priceDay.value < price, green: priceDay.value > price }">                
                {{ priceDay.day }} | {{ priceDay.value }}
            </li>
        </ul>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>